.scroll-gallery{
    height: 1%;
    overflow: hidden;
    padding: 0 10px 0;
}
.opinion-block .scroll-gallery{
    background-color: #dfdcc7;
    padding-top: 20px;
    padding-bottom: 19px;
}
.scroll-gallery .next,
.scroll-gallery .prev{
    width: 30px;
    height: 142px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 16px 0 0;
}
.scroll-gallery .next{
    float: right;
    background: url(images/next01.png) 0 0 no-repeat;
}
.scroll-gallery .prev{
    float: left;
    background: url(images/prev01.png) 0 0 no-repeat;
    margin-right: 8px;
}
.scroll-gallery .next-disable,
.scroll-gallery .prev-disable{
    background-position: 0 -142px;
    cursor: default;
}
.scroll-gallery .gallery{
    width: 400px;
    overflow: hidden;
}
.scroll-gallery .gallery ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 9999px;
    overflow: hidden;
}
.scroll-gallery .gallery ul li{
    float: left;
    width: 300px;
}